absl-py
audioread==3.0.1
cffi==1.17.1
charset-normalizer
colorama
decorator==5.1.1
idna==3.10
joblib==1.4.2
lazy_loader==0.4
librosa==0.10.2.post1
llvmlite==0.43.0
mkl-service
msgpack==1.1.0
numba==0.60.0
numpy
packaging==24.2
pillow
platformdirs==4.3.6
pooch==1.8.2
protobuf==4.25.3
pycparser==2.22
pydub==0.25.1
requests
scikit-learn==1.5.2
scipy==1.14.1
soundfile==0.12.1
soxr==0.5.0.post1
sympy
tensorboard
tensorboard_data_server
threadpoolctl==3.5.0
tqdm 
typing_extensions 
urllib3
win-inet-pton
matplotlib
wheel
nvidia-pyindex
nvidia-cuda-runtime-cu12 # change the version if needed
pandas
--extra-index-url https://download.pytorch.org/whl/cu124 # change the version if needed
torch
torchvision
torchaudio
pedalboard
torchsummary
--extra-index-url https://github.com/vBaiCai/python-pesq/archive/master.zip
